.reproduction {
  padding: 40px;
  max-width: 1200px;
  margin: 80px auto 0 auto;
  padding-top: 80px;

  .reproductionHeader {
    padding: 0 32px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 40px;
  }

  .reproductionTitle {
    font-size: 40px;
    font-weight: 500;
    color: var(--text-dark);
    margin: 0;
  }

  .buttonsContainer {
    display: flex;
    gap: 32px;
  }

  .button {
    padding: 10px 20px;
    background: var(--bg-button);
    color: var(--text-dark);
    border-radius: 20px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    transition: all 0.3s ease;
    border: none;

    &:hover {
      color: var(--primary-color);
    }

    &.selected {
      background: var(--accent-color);
      color: var(--text-light-selected);
    }
  }
  .paintingsGrid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    padding: 0 32px;
    gap: 40px;
    @media (max-width: 768px) {
      grid-template-columns: repeat(2, 1fr);
    }
    @media (max-width: 400px) {
      grid-template-columns: repeat(1, 1fr);
    }
  }
}
