@import url("https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap");

* {
  font-family: "Raleway", sans-serif;
  font-optical-sizing: auto;
  font-weight: normal;
  font-style: normal;
}

:root {
  /* === ЦВЕТА БРЕНДА === */
  --primary-color: #4caf50; // основной зеленый
  --secondary-color: #598d66; // вторичный зеленый
  --accent-color: #376b44; // темно-зеленый для активных состояний

  /* === ЦВЕТА ТЕКСТА === */
  --text-dark: #2c2d35; // основной темный текст
  --text-light: #666; // светлый текст описание
  --text-muted: #86928b; // приглушенный текст\
  --text-light-selected: #f4f6f5; // светлый текст для выбранных элементов

  /* === ЦВЕТА ФОНА === */
  --bg-primary: #e1ede6; // основной фон
  --bg-button: #d4e8d9; // фон кнопок

  /* === ИНТЕРАКТИВНЫЕ ЭЛЕМЕНТЫ === */
  --icon-color: #424242; // цвет иконок
  --icon-hover: #4caf50; // цвет иконок при наведении
}
